* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

body {
    background: #111;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #aaa;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.project {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.1);
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
}

#calculator:hover {
    background-image: linear-gradient(to bottom right, rgb(38, 19, 105), rgb(24, 128, 226));
}

#image-gallery:hover {
    background-image: linear-gradient(to bottom right, rgb(224, 78, 78), rgb(24, 128, 226));
}

#music-player:hover {
    background-image: linear-gradient(to bottom right, rgb(224, 78, 78), rgb(221, 183, 79));
}

.project a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project i {
    font-size: 2rem;
    margin-bottom: 10px;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px rgb(151, 151, 151);
}
footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100vw;
}
footer > div{
    width: 100%;
    height: 1px;
    background-color: #aaa;
}
footer > p{
    padding: 10px;
}
#heart{
    color: red;
}